
                .input-vector{
                    position: relative;
                }
                .card-icon{
                    position: absolute;
                        top: 4px;
                        left: 3px;
                }
.form-control{
    display: flex;
    flex-direction: column;


}
.card-holder,.card-num{
    width: 220px;
    height: 25px;
    
}