.c-page {
  margin-top: 4.5rem;
  width: 100%;
}
.check-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 400px) {
  .check-cont {
    flex-direction: column;
  }
}
