.shop{
    display: flex;
    justify-content:center;
    width: auto;
    margin-top: 3.8rem;
    overflow: hidden;
}
.wrapper{
width: auto;
display: flex;
justify-content: center;
/* align-items: center; */
}
.cate{
    /* width: 36%; */
    width: 403px;
     max-height:  871px;
}
.mon{
  width: 532px;
}
.animate{
width: 380px;
}