.shop {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3.8rem;
  overflow: hidden;
  position: relative;
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  /* flex-wrap: wrap; */
}
.cate {
  /* width: 36%; */
  width: 403px;
  max-height: 871px;
}
.mon {
  width: 532px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: inherit;
}
.animate {
  width: 380px;
}
.mobile {
  display: flex;
  transform: translateY(-800px);
  transition: 0.5s;
  justify-content: center;
  /* align-items: center; */
  position: absolute;
  left: 70px;
  top: 2rem;
  z-index: 10;
  width: 425px;
  height: 654px;
  background-color: whitesmoke;
  box-shadow: 1px 1px 1px rgba(10, 100, 110, 22);
  border-radius: 9px;
}

.mobile-categorie {
  border: 1px solid rgb(198, 193, 193);
  width: 186px;
  padding: 0 1rem;
  z-index: 10;

  position: absolute;
  transform: translateX(-600px);
  transition: 0.5s;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px green;
  height: 39%;
}

@media screen and (max-width: 981px) {
  .cate {
    display: none;
  }

  .mobile-categorie.show {
    position: absolute;
    transform: translateX(0);
    /* left: 2rem; */
    background: white;
    /* display: flex; */
    top: 5px;
    left: 5px;
    transition: 0.5s;
    background-color: whitesmoke;
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px green;
    height: 29%;
  }
}

@media screen and (max-width: 971px) {
  .shop {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 608px) {
  .wrapper {
    /* margin-top: 2rem; */
    flex-direction: column;
  }
  .shop {
    height: 700px;
    overflow: hidden;
    padding-right: 61px;
    width: auto;
    display: flex;
    justify-content: center;

    margin-left: 10px;
  }
  .mobile.show {
    display: flex;
    transform: translateY(0);
    transition: 0.5s;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
    left: 70px;
    top: 2rem;
    z-index: 10;
    width: 425px;
    height: 654px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 1px rgba(10, 100, 110, 22);
    border-radius: 9px;
  }
}
